// Colors
$black: #000;
$green: #008000;
$greyYoga: #e1e1e1;
$pinkYoga: #b995a1;
$pinkYogaLight: rgba(185, 149, 161, 30%);
$pinkCommunity: #f1c6c4;
$pinkCommunityLight: rgba(241, 198, 196, 30%);
$redError: #c81111;
$redYoga: #602234;
$white: #fff;