// Colors
$black: #000;
$black-dark: #222;
$green: #008000;
$greyYoga: #e1e1e1;
$greyLoad: #f3f3f3;
$pinkYoga: #b995a1;
$pinkYogaLight: rgba(185, 149, 161, 30%);
$pinkCommunity: #f1c6c4;
$pinkLight: #eedfde;
$pinkCommunityLight: rgba(241, 198, 196, 30%);
$pinkInstagram: #C13584;
$redError: #c81111;
$redYoga: #602234;
$white: #fff;
$yellow-light: #FFFF9C;