// Button
.button {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

    &__red {
        color: $white;
        background-color: $redYoga;
        border: 1px solid $redYoga;
        transition: all .2s;

        &:hover {
            color: $redYoga;
            background-color: $white;
            border: 1px solid $redYoga;
        }
    }
}

// Content
.h1 {
    font-size: 5rem;

    @include respond("sm") {
        font-size: 4rem;
    }
}

.h2 {
    font-size: 4rem;
}

.h3 {
    font-size: 3.5rem;
}

.h4 {
    font-size: 3rem;
}

.p-xl {
    font-size: 2.8rem;
}

.p-lg {
    font-size: 2.5rem;
}

.p-md {
    font-size: 2.2rem;
}

.p {
    font-size: 2rem;
}

.p-sm {
    font-size: 1.8rem;
}

// Inputs
.input-text {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 5px;
}

// Link
.link-no-style {
    text-decoration: none;
}

.link-red {
    text-decoration: underline;
    color: $redYoga;
    font-weight: 700;
}

// List ul and ol
.list-no-disk {
    list-style: none;
}