@import "../../assets/scss/abstract/mixins";
@import "../../assets/scss/abstract/variables";

.contact {
    margin-bottom: 10rem;

    &__container-content {
        padding: 0 10rem;

        @include respond("md") {
            padding: 0 2rem;
        }
    }

    &__container-content-title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__heart {
        font-size: 5rem;
        color: $redYoga;
    }

    &__content {
        margin-bottom: 2rem;
    }
}