@import "../../assets/scss/abstract/mixins";
@import "../../assets/scss/abstract/variables";

.home {
    &__header {
        position: relative;
        height: 80vh;
        display: flex;
        background-color: $pinkCommunityLight;

        @include respond("lg") {
            height: 60vh;
        }
    }

    &__header-container-title {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        @include respond("lg") {
            width: 100%;
        }
    }

    &__header-title {
        font-size: 12rem;
        color: $redYoga;
        margin-bottom: 2rem;

        @include respond("md") {
            font-size: 8rem;
        }

    }

    &__header-sub-title {
        color: $redYoga;
    }

    &__header-container-images {
        width: 30%;
        position: relative;

        @include respond("lg") {
            display: none;
        }
    }

    &__header-container-image-one {
        position: absolute;
        top: 10%;
        left: 5%;
        width: 35rem;
        height: 35rem;
        z-index: 1;
        overflow: hidden;
        border-radius: 25%;
    }

    &__header-image-one {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__header-container-image-two {
        position: absolute;
        top: 40%;
        left: 0;
        width: 25rem;
        height: 25rem;
        z-index: 2;
        overflow: hidden;
        border-radius: 25%;
    }

    &__header-image-two {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__main {
        padding: 3rem;
    }

    &__main-container-title {
        text-align: center;
        margin-bottom: 5rem;
    }

    &__main-title {}

    &__main-container-classes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10rem;
        margin-bottom: 8rem;
    }

    &__main-container-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5rem;
        margin-bottom: 5rem;
    }

}