@import "../../assets/scss/abstract/variables";

.founders {
    position: relative;
    width: 100%;
    height: 100vh;
    border: 1px solid #d00;

    &__container-white-small {
        position: absolute;
        width: 30%;
        height: 2rem;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -0%);
        background-color: $white;
        z-index: 1;
        border: 1px solid #00d;
    }

    &__container-pink {
        position: absolute;
        width: 100%;
        height: 55%;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -0%);
        background-color: $pinkYoga;
    }

    &__container-title {
        position: absolute;
        width: 100%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border: 1px solid #d00;
    }

    &__title {
        color: $white;
        letter-spacing: 10px;
        font-weight: 500;
    }

    &__container-img {
        position: absolute;
        width: 70%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__container-content {
        position: absolute;
        width: 50%;
        height: 15%;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        background-color: $pinkYoga;
        border-bottom: 5px solid $redYoga;
    }
}