@import "../../assets/scss/abstract/mixins";

.our-projects {
    margin-bottom: 10rem;

    &__container-content {
        padding: 0 10rem;
        margin-bottom: 5rem;

        @include respond("md") {
            padding: 2rem;
        }
    }

    &__title {
        text-align: center;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    &__content {
        margin-bottom: 2rem;
    }

    &__container-logos {
        text-align: center;
    }

    &__logo {
        width: 20rem;
    }

}