@import "../../../assets/scss/abstract/variables";

.admin-classes {
    &__title {
        margin-bottom: 2rem;
    }

    &__container-class {
        padding: 1rem;
        margin-bottom: 2rem;
        border: 1px solid $redYoga;
        border-radius: 5px;
    }

    &__container-class-buttons {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
    }
}