@import "../../assets/scss/abstract/variables";

.button-event {
    text-align: center;
    background-color: $purpleYoga;
    padding: 2rem;
    transition: all .2s;
    border-radius: 50px;

    &:hover {
        transform: translate(-3px, -3px);
        box-shadow: 2rem 1rem 1rem rgb(94, 49, 144, .2);
    }

    &__link {
        font-size: 2rem;
        text-decoration: none;
        color: $white;
    }
}