.classes {
    padding: 0 5rem;

    &__container-classes {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    &__container-class {
        margin-bottom: 2rem;
    }
}